html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

a-scene {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* oder: contain, wenn du Ränder zulassen willst */
}

a-scene > canvas {
  width: 100%;
  height: 100%;
  object-fit: cover; /* wichtig für Kamera-Feed */
}

#overlayContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#arContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#distance-overlay {
  position: absolute;
  bottom: 3%; /* Position unter dem Pfeil */
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  z-index: 1; /* Sicherstellen, dass es über dem Video ist */
}

#compassContainer {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#compassArrow {
  font-size: 40px;
  color: white;
}

#compassText {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: white;
}

#markerPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  display: none; /* Anfangs nicht sichtbar */
  z-index: 3;
}

#popupClose {
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}